[Desktop Entry]
Name=EXWM (Doom Emacs)
Comment=Use Emacs as your X11 window manager
Exec=/home/mou/.config/doom/exwm/start-exwm.sh
TryExec=emacs
Type=Application
DesktopNames=EXWM
X-LightDM-DesktopName=exwm
Keywords=wm;windowmanager;emacs;exwm;

